@model Quizleter.ViewModels.UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Dein Account</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <hr />
    <h4>Deine Lernsets</h4>
    <div class="row">
        @foreach (var learnset in Model.Learnsets)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="/img/logo-full.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => learnset.Name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => learnset.Desc)</p>
                        <p class="card-text">&#64;@Html.DisplayFor(modelItem => learnset.CreatorUsername)</p>
                        <div class="btn-group w-100" role="group" aria-label="Basic example">
                            <a asp-controller="Learnsets" asp-action="Details" asp-route-id="@learnset.Id" class="btn btn-primary">Anschauen</a>
                            <a asp-controller="Learnsets" asp-action="Edit" asp-route-id="@learnset.Id" class="btn btn-secondary" style="width: 10px;">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
