@model Quizleter.ViewModels.LearnsetDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Learnset</h1>

<div class="jumbotron">
    <h1 class="display-4">@Model.Name</h1>
    <p class="lead">@Model.Description</p>
    <hr class="my-4">
    <p>Wortanzahl: @Model.VocabCount</p>
    <p>Ersteller: &#64;@Model.Creator</p>
    <div class="lead btn-group">
        <a asp-action="Index" class="btn btn-lg btn-secondary">Zurück</a>
        <a asp-action="Cards" asp-route-id="@Model.Id" class="btn btn-lg btn-primary">Karteikarten</a>
        <a asp-action="Learn" class="btn btn-lg btn-primary">Lernmodus</a>
        <a asp-action="Test" asp-route-id="@Model.Id" class="btn btn-lg btn-primary">Testen</a>
    </div>
</div>
