@model Quizleter.ViewModels.LearnsetsViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-9">
        <h1>Deine Lernsets</h1>
    </div>
    <div class="col-md-3" title="Create a learnset">
        <a asp-action="Create" class="btn btn-lg btn-primary float-right"><i class="fa-solid fa-plus"></i></a>
    </div>
</div>
<hr />

<div class="row">
    @foreach (var item in Model.OwnedLearnsets)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/img/logo-full.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Desc)</p>
                    <p class="card-text">&#64;@Html.DisplayFor(modelItem => item.CreatorUsername)</p>
                    <div class="btn-group w-100" role="group" aria-label="Basic example">
                        <a asp-action="Learn" asp-route-id="@item.Id" class="btn btn-primary">Learn</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary" style="width: 10px;">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (Model.OwnedLearnsets.Count == 0)
{
    <p>Du hast noch keine Lernsets.</p>
}

<h1>Andere Lernsets</h1>
<hr />

<div class="row">
    @foreach (var item in Model.OtherLearnsets)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/img/logo-full.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Desc)</p>
                    <p class="card-text">&#64;@Html.DisplayFor(modelItem => item.CreatorUsername)</p>
                    <a asp-action="Learn" asp-route-id="@item.Id" class="btn btn-primary w-100">Learn</a>
                </div>
            </div>
        </div>
    }
</div>