@model Quizleter.ViewModels.LearnVocabViewModel

@{
    ViewData["Title"] = "Learn";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Learn</title>
</head>
<body>
    <form asp-action="Learn">
        <input asp-for="LearnsetId" value="@Model.LearnsetId" hidden />
        <input asp-for="VocabId" value="@Model.VocabId" hidden />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="text" placeholder="@Model.Definition" class="form-control" disabled />
        </div>
        <div class="form-group">
            <input asp-for="Input" placeholder="Eingabe" value="" class="form-control" autofocus />
            <span asp-validation-for="Input" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <a asp-action="Details" asp-route-id="@Model.LearnsetId" class="btn btn-secondary w-100">Zurück</a>
                </div>
                <div class="col-md-7">
                    <input type="submit" value="Weiter" class="btn btn-primary w-100" />
                </div>
            </div>
        </div>
    </form>
    <form asp-action="Evaluation" asp-route-id="@Model.LearnsetId">
        <input type="submit" value="Auswerten" class="btn btn-primary w-100" />
    </form>
</body>
</html>
