@model Quizleter.ViewModels.TestResultViewModel
@{
    ViewData["Title"] = "Test Result";
}

<h3>@Html.DisplayNameFor(model => model.Points): @Html.DisplayFor(model => model.Points) / @Model.Vocabulary.Count</h3>

@if (Model.Percentage == 100)
{
    <p>
        Super! Du hast alles richtig beantwortet. Weiter so!
    </p>
}
else if (Model.Percentage >= 75)
{
    <p>
        Gute Arbeit! Bald hast du das Vokabular vollständig im Griff.
    </p>
}
else if (Model.Percentage >= 50)
{
    <p>
        Nicht schlecht. Übung macht den Meister.
    </p>
}
else
{
    <p>
        Kopf hoch. Mit dem Lernmodus kannst du dein Vokabular verbessern.
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Definition</th>
            <th>Korrekte Antwort</th>
            <th>Deine Antwort</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vocab in Model.Vocabulary)
        {
            <tr>
                <td>@vocab.Definition</td>
                <td>
                    @vocab.Term
                </td>
                <td>
                    @vocab.Answer
                </td>
                <td>
                    @if (vocab.Term.Equals(vocab.Answer))
                    {
                        <i class="fa-solid fa-circle-check" style="color: green;"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-circle-xmark" style="color: red;"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" class="btn btn-primary w-100">Zurück zu den Lernsets</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
